@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,500,700,900');
body{
    background-image:url(img/fond.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:100vh; /*force le body à 100% de la hauteur car les objets dedans sont en absolute */
    margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
    color:#FFFFFF;
}
header{  
    width:100%;
    padding:5% 5% 5% 5%;
    line-height: 5%;
    display:flex;
    justify-content: space-around;
	flex-direction: row;
	font-weight:300;
	background:#FFFFFF;
	color:#956A17;
}
header div:hover{
	background:#956A17;
	color:#FFFFFF;
}
#inscription{
    display:none;
}
.zone{
    position:absolute;
    left:150px;
    font-family: 'Lato', sans-serif;
	color:#956A17;
}
#nom{
    width:100px;
}
#prenom{
    width:100px;
}
#adresse{
    width:200px;
}
#cpadresse{
    width:200px
}
#cp{
    width:50px;
}
#ville{
    width:150px;
}
#datenais{
    width:120px;
}
#auteur{
    width:200px;
    height:20px;
	color:rgb(43, 30, 6);
}
#publication{
    display:none;
    height:90%;
}
#containerarticles{
    width:100%;
    height:100%;
    display:flex;
    flex-flow:row wrap;
    flex-grow: 1;
}
.carre{
    position:relative;
    width: 200px;
    height:200px;
    margin:10px;
    background-color:rgba(149, 106, 23, 0.75);
}
.title{
    position:absolute;
    top:40px;
    left:0px;
    opacity: 1;
}
.texte{
    position:absolute;
    top:60px;
    left:0px;
    opacity: 1;
}
.zone1{
    position:absolute;
    left:80px;
    font-family: 'Lato', sans-serif;
    color:#956A17;
    opacity: 1;
}
.supprimer{
    position:absolute;
    background-color:#956A17;
    width:30px;
    height:30px;
    border-radius:30px;
    bottom:0px;
    right:0px;
    opacity: 1;
}
.pins{
    position:absolute;
    background-image: url(img/punaise.gif);
    background-size:contain;
    background-repeat:no-repeat;
    width:75px;
    height:75px;   
    left:50%;
    margin-left:-25px;
    opacity: 1;
}